[submodule "xandeum-programs"]
	path = xandeum-programs
	url = git@github.com:Xandeum/xandeum-programs.git
[submodule "xandeum/xandeum-protos"]
	path = xandeum/xandeum-protos
	url = https://github.com/Xandeum/xandeum-protos.git
